:root {
  --white: #f0f2f5;
  --dark: #090c15;
  --yellow: #ff9e43;
  --green: #03dae2;
  --red: #e7202d;
  --pink: #FF1E5E;
  --text: #666666;
  --gray-hard: #312E38;
  --gray-soft: #C4C4C4;
  --button: #E71A41;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  list-style: none;
}

body {
  background-color: var(--white);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.custom-img {
  width: 350px;
  height: 350px;
}
.navigation {
  position: fixed;
  top: 20px;
  right: 40px;
  background-color: var(--pink);
  color: var(--white);
  padding: 5px;
  border-radius: 4px;
}

.header {
  background-image: url("./assets/header.png");
  background-repeat: 'no-repeat';
  background-size: 'cover';
  align-items: 'center';
  height: 60vh;
}

.parceiros {
  background: var(--green);
  padding: 100px 0;
}

.parceiros ul {
  display: flex;
}

.parceiros ul li img {
  max-width: 300px;
  max-height: 50px;
  margin: 50px;
}